body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    font-family: Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/* Basic Layout */
header {
  padding: 1.5%;
}

header h1 {
  padding-top: 2.5%;
}

aside {
  padding: 2%;
}

main {
  padding: 2%;
}

main, aside {
  padding-top: 1%;
}

section {
  margin: 2% 0;
}

footer {
  clear: both;
  padding: 1%;
}

aside ul li {
  margin: 1.5% 0;
  line-height: 1.5;
}

.projectName {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.projectIcon {
  color: black;
  font-size: 16px;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-collapse {
  background-color: white;
  opacity: 0.8;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}