header h1 {
  padding-top: 0px;
  margin-top: 0px;
}
.ico_img{
  width: 50px;
  height: 50px;
}
.center{
  position: absolute;
  bottom: 5%;
  left: 45%;
  margin: 0 auto;
  text-align: center;
}
.header{
  margin: 0,auto;
  text-align: center;
  width: 100%;
  height: 20%;
  color: white;
  font-size: 40px;
}
.center_result{
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  height: 40%;
  color: white;
}
.form-group{
  width: 60%;
  margin: 0 auto;
  color: white;
  text-align: left;
  font-size: 25px;
}

.form-control{
  text-align: center;
  width: 60%;
  height: 50%;
}

.prof-box {
    width: 40%;
    min-height: 500px;
    background: rgba(0,0,0,0.4);
    padding: 15px;
/*    color: white;*/
    margin:0 auto;
    margin-top: 1px;
    overflow: hidden;
    text-align: center;
/*    font-family: 'Lato', sans-serif;*/
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 6;
    border: 5px groove #00FFFF;

}

.mloader {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00B26B;
  width: 120px;
  height: 120px;
  -webkit-animation: mspin 1s linear infinite;
  animation: mspin 1s linear infinite;
}

@-webkit-keyframes mspin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes mspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}