.signin{
    opacity: 0.85;    
    position:absolute;
    left:50%;
    top:25%;
    width: 40%;
    margin-left: -20%;
    margin-top: -5%;
}
#row{
    margin-right: 0px;
    margin-left: 0px;
}
#col{
    padding-right: 0px;
    padding-left: 0px;
}
.imgBox {
    height: 75%;
    width: 75%;
    margin:0 auto;
}