.signin{
    opacity: 0.85;    
    position:absolute;
    left:50%;
    top:50%;
    width: 50%;
    margin-left: -25%;
    margin-top: -5%;
}
#row{
    margin-right: 0px;
    margin-left: 0px;
}
#col{
    padding-right: 0px;
    padding-left: 0px;
}